<% include ../partials/header %>

<div class="row justify-content-center">
    <div class="col-md-12 text-center">
        <h1>Edit <%=campground.name%></h1>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <form action="/campgrounds/<%=campground.id%>?_method=PUT" method="POST">
            <div class="form-group">
                <label for="name">Campground Name</label>
                <input class="form-control" type="text" id="name" name="campground[name]" value="<%=campground.name%>">
            </div>
            <div class="form-group">
                <label for="price">Cost Per Night</label>
                <input class="form-control" type="number" id="price" name="campground[price]" value="<%=campground.price%>" min="1.00" step="0.01">
            </div>
            <div class="form-group">
                <label for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="campground[image]" value="<%=campground.image%>">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" type="text" id="description" name="campground[description]" value="<%=campground.description%>">
            </div>
            <div class="form-group">
                <label for="noofplots">Number of Plots</label>
                <input class="form-control" type="number" name="campground[numofplots]" id="numofplots" value="<%=campground.numofplots%>">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input class="form-control" type="text" name="location" id="location" value="<%=campground.location%>">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="toilets" name="campground[toilets]" value="true" <% if (campground.toilets == true){%> checked <% } %>>
                <label class="form-check-label" for="toilets">Toilets?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="tapwater" name="campground[tapwater]" value="true" <% if (campground.tapwater == true){%> checked <% } %>>
                <label class="form-check-label" for="tapwater">Tap Water?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="hotwater" name="campground[hotwater]" value="true" <% if (campground.hotwater == true){%> checked <% } %>>
                <label class="form-check-label" for="hotwater">Hot Water?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="showers" name="campground[showers]" value="true" <% if (campground.showers == true){%> checked <% } %>>
                <label class="form-check-label" for="showers">Showers?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="electrichookup" name="campground[electrichookup]" value="true" <% if (campground.electrichookup == true){%> checked <% } %>>
                <label class="form-check-label" for="electrichookup">Electric Hookup?</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="campshop" name="campground[campshop]" value="true" <% if (campground.campshop == true){%> checked <% } %>>
                <label class="form-check-label" for="campshop">Camp Shop?</label>
            </div>
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block">Update!</button>
            </div>
        </form>
        <a href="/campgrounds">Go Back</a>
    </div>
</div>

<% include ../partials/footer %>

