<% include ../partials/header %> 

<h1>User Manager</h1>
<p>
  <a class="btn btn-primary btn-large" href="/users/new">Add New User</a>
</p>   

<div class="row text-center" style="display:flex; flex-wrap: wrap;">
  <% users.forEach(function(user){ %>
  <div class="col-md-3 col-sm-6">
    <div class="card">
      <% if (!user.avatar || user.avatar == "") {%>
          <img class="card-img-top" src="/images/avatar.png">
        <% }else{ %>
          <img class="card-img-top" src="<%=user.avatar%>">
        <%}%>
      <div class="card-body">
        <h4><%= user.username %>
          <% if (user.isAdmin) { %>
           (admin)
        <%}%>
        </h4>
        <a href="/users/<%= user._id %>" class="btn btn-sm btn-primary">Info</a> <a href="/users/<%= user._id %>/edit" class="btn btn-sm btn-warning">Edit</a>
        <form class="delete-form" method="POST" action="/users/<%=user._id%>?_method=DELETE">
            <button class="btn btn-sm btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
  <% }); %>
</div>


<% include ../partials/footer %>
